#video {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  height: 100%;
  width: 100%;
  video {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    margin: auto;
  }
}
